body {
    margin: 0;
    background: #f7fafa;
    font-family: Helvetica, Arial, sans-serif;
    }
.log_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.list {
    display:flex;
    justify-content: center;}
.log {
    border: 0.2vw solid #dddee0;
    border-radius: 4px;
    background: white;
    padding: 0rem 1rem 1rem 1rem;
    width: 23%;
    white-space: nowrap;
    font: inherit;
    }
.question {
    border: 4px solid #dddee0;
    border-radius: 4px;
    background: white;
    padding: 1.2rem 1rem 2rem 1rem;
    width: 30%;
    white-space: nowrap;
    font: inherit;
    }
.questions_list {
    border: 2px solid #dddee0;
    border-radius: 10vw;
    background: white;
    padding: 1.8vw 1.8vw 1.8vw 1.8vw;
    width: 80%;
    text-align: center;
    font-size: 1.4vw;
    }

#button {
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    padding: 4px;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-style: solid;
    }

#button_register {
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    padding: 4px;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-style: solid;
    }

.header {
    font-size: 1.7vw;
    text-align: center;
    color: #dc3b3b;
    margin-bottom: 1.5vw;
    }
.head_end {
    font-size: 1.6vw;
    text-align: left;
    }
.in {
    width: 67%;
    height: 1.6vw;
    font-size: 1.1vw;
    text-align: center;
    }

.label_confirm {
    color: gray;
    margin-right: 8%;
    margin-top: 3px;
    display: flex;
    font-size: 1.1vw;
    }

.in_for {
    width: 95%;
    height: 1.6vw;
    font-size: 1.1vw;
    padding-left: 0.5vw;
    }

.question_word {
    font-size: 1.3vw;
    margin: 3px;
    color: #636161;}

.inputs {
    text-align: center;
    font-size: 1.0vw;
    }
.user {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-right: 0;
    margin-top: 2vw;}

.password {
    margin-right: 0;
    width: 100%;
    display: flex;
    margin-bottom: 2vw;}

.label_user {
    margin-right: 3%;
    margin-top: 3px;
    display: flex;
    color: gray;
    font-size: 1.1vw;}

.label_password {
    color: gray;
    margin-right: 4%;
    margin-top: 3px;
    display: flex;
    font-size: 1.1vw;}

.label_pin {
    color: gray;
    margin-right: 4%;
    margin-left: 5%;
    margin-top: 3px;
    display: flex;
    font-size: 1.1vw;}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    }

.checkbox {
    display: inline-flex;
    text-align: inline;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: -50%;
    }

.answer {
    width: 2vw;}

.button_add {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

.button_logout {
    color: red;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.50vw;
    font-size: 1.2vw;
    margin-right: 5vw;
    margin-left: -3vw;
    padding: 4px;}

.logout {
    display: flex;
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    color: #dc3b3b;
    cursor: pointer;
    border-radius: 0.50vw;
    box-shadow: 5px 5px 5px #ccc;
    font-size: 1.2vw;
    margin: auto;
    padding: 4px;
    border-style: solid;}

.logout_list {
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    padding: 4px;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-style: solid;
    margin-top: 1vw;
    }

.logout_form {
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    padding: 4px;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    margin-left: 4vw;
    border-style: solid;
    }

.two_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: 1vw;
    }

.three_button_list {
    display: flex;
    justify-content: start;
    margin-left: 37.5%;
    align-items: inherit;
    width: 380px;
    text-align: center;
    }

.alert {animation: added 3s;}

@keyframes added
{0%{
    padding: 1.0vw;
    background-color: #f44336;
    color: white;
    margin-bottom: 1vw;
    text-align:center;
    display: block;
    width: 90%;
    font-size: 1.3vw;
    }
100%{padding: 1.0vw;
    background-color: white;
    color: white;
    margin-bottom: 1vw;
    text-align:center;
    display: block;
    width: 90%;
    font-size: 1.3vw;}

}

.del {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.6vw 0.6vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    margin-left: 0.9vw;}

.data {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.3vw 0.4vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    }

.add {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.2vw 0.3vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;

    }

.add_to_results {
    background-color: #007bff;
    border-color: #007bff;
    padding: 4px;
    font-size: 1.3vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.sent_form {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.2vw 0.4vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    }

a{
    text-decoration:none;
    color: white;}

input {
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            border-radius: .25vw;
    }

.question_form {
    display: -webkit-inline-box;
    text-align: center;
    margin-top: 1.5vw;
    }

#checkbox1 {
    margin-right: 3vw;
    text-align: center;
    }
.label_form {
    font-size: 1.2vw;
    vertical-align: 0.3vw;
    }

.thanks {
    display: flex;
    justify-content: center;
    }

.red {
    color: red;
    font-size: 1.5vw;}

.green {
    font-size: 1.5vw;
    color: #5cd802}

.logout_results {
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    padding: 4px;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-style: solid;
    margin-top: 1vw;
    }

.three_button {
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    margin: auto;
    width: 27%;
    }

.data2 {
    background-color: #007bff;
    border-color: #007bff;
    padding: 5px;
    font-size: 1.3vw;
    border-radius: 1vw;
    cursor: pointer;
    color: white;
    margin-top: 1vw;
    }

.add_results {
    background-color: #007bff;
    border-color: #007bff;
    padding: 5px;
    font-size: 1.3vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    margin-top: 1vw;
}

.no {
    margin-left: 3vw;}

.results {
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    padding: 4px;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-style: solid;
    margin-top: 1vw;
 }

.results_of_input {
    background-color: #dddddd;
    border-color: #898989;
    border-width: 1px 1px 2px 1px;
    padding: 4px;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-style: solid;
    }

