<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> LOG IN to the Form</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" sizes="150x150" href="static/mstile-150x150.png">
    <link rel="icon" href="static/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
<!--<h2>Dodaj pytanie do formularza:</h2>-->
<div class="log_container">
    <br>

    <form class="question" method="GET" action="/insert_question">
        <p class="header">Wprowadzanie danych do folmularza</p>
        <br>
        <label class="question_word">Wpisz pytanie:</label>
        <br>
        <br>
        <input name="question" class="in" required>
        <br>
        <br>
        <p>
        <p class="head_end">Wybierz pola do wyświetlenia:</p>
        <p>
        <div class="box">
            <input class="checkbox" type="checkbox" name="answer_yes" value="true"> Tak
            <input class="checkbox" type="checkbox" name="answer_no" value="true"> Nie
            <input class="checkbox" type="checkbox" name="answer_dknow" value="true"> Nie wiem
            <input class="checkbox " type="checkbox" name="answer_discribe" value="true"> Odpowiedź opisowa

        </div>
        <br>
        <div class="button_dodaj">
            <input id="button" type="submit" value="Dodaj">
        </div>
    </form>
</div>

<br>
<p><h4>Teraz jest: {{ echo }}</h4></p>
</body>

</html>


