<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" sizes="150x150" href="static/mstile-150x150.png">
    <link rel="icon" href="static/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <div class="thanks">
        <img src="static/thanks.png" style="align-items: center;" width="600" height="600"  alt="Thank You!" title="Dziękujemy za wypełnienie ankiety!"/>
    </div>
</body>

</html>


